
    body {
        background-color: lightpink;
        font-family: Arial, sans-serif;
        padding: 20px;
        margin: 0;
    }
    .masonry{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
        gap: 20px
    }
.item {
    background-color: #ff006e;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 3.0s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #ffffff;

}
.item:hover{
    transform: translateY(-10px);
}
    .item1 {grid-row: span 15; background-color:#ff006e;}
    .item2 {grid-row: span 20; background-color:#ff006e;}
    .item3 {grid-row: span 10; background-color:#ff006e;}
    .item4 {grid-row: span 25; background-color:#ff006e;}
    .item5 {grid-row: span 30; background-color:#ff006e;}
    .item6 {grid-row: span 15; background-color:#ff006e;}
    .item7 {grid-row: span 20; background-color:#ff006e;}
    .item8 {grid-row: span 10; background-color:#ff006e;}
    .item9 {grid-row: span 25; background-color:#ff006e;}
    .item10 {grid-row: span 30; background-color:#ff006e;}

img{
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}
